---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import MarkdownIt from "markdown-it";

const FEATURED_PROJECTS = ["umtsolitaire"];
const FEATURED_POSTS = [""];

const recentPosts = (await getCollection("blog"))
  .filter((i) => !i.data.unpublished)
  .sort(
    (a, b) =>
      (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0)
  )
  .slice(0, 5);

const featuredProjects = (await getCollection("projects")).filter((i) =>
  FEATURED_PROJECTS.includes(i.id)
);
const featuredPosts = (await getCollection("blog")).filter((i) =>
  FEATURED_POSTS.includes(i.id)
);
---

<!doctype html>
<html lang="en">
  <Head />
  <style>
    a.featured {
      background: linear-gradient(to right, #aaa, #ccc);
      font-size: 1.5em;
      display: flex;
      align-items: center;
      border-radius: 1em;
      overflow: hidden;
      color: #000;
      border: 2px solid black;
      flex-direction: column;
      font-family: "Tomorrow", sans-serif;
    }

    a.featured img {
      width: 100%;
      height: 5em;
      object-fit: cover;
      border-bottom: 2px solid black;
    }

    a.featured span {
      text-align: center;
      margin: 0.5em;
    }

    div.post {
      margin-bottom: 2em;
    }

    div.post h2 {
      margin: 0 0 0.25em 0;
    }

    div.post img {
      display: block;
      width: 100%;
      height: 10em;
      object-fit: cover;
      margin-left: auto;
      margin-right: auto;
    }

    div.post span.post-date {
      font-size: 0.75rem;
      color: #555;
    }

    div.post span.post-date::before {
      content: "—————";
      color: #999;
    }

    div.post span.post-update {
      font-size: 0.9rem;
      color: #888;
    }

    div.post summary {
      margin-top: 1em;
      margin-bottom: 0.25em;
    }
  </style>
  <body>
    <Header />
    <main id="intro">
      <!-- display: block -->
      <p>
        Hey there, I'm <strong>Tyler</strong>! I am a lifelong apprentice of
        software engineering with passions in application development, retro
        video game development, and retrocomputing in general.
      </p>
      <p>
        I don't have much of a social media presence, but I hope you find
        something in this website that interests you!
      </p>
    </main>
    <main id="blog">
      <h1>Blog</h1>
      {
        recentPosts.map((post) => {
          return (
            <div id={post.id} class="post">
              <span class="post-date">
                {post.data.pubDate?.toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </span>
              <a href={`/blog/${post.id}/`}>
                <h2>{post.data.title}</h2>
                {post.data.image != null && (
                  <Image src={post.data.image} alt={post.data.title} />
                )}
              </a>
              {post.data.description != null ? (
                <summary>{post.data.description}</summary>
              ) : (
                <summary
                  set:html={new MarkdownIt().render(
                    post.body ? post.body.trim().split("\n")[0] : ""
                  )}
                />
              )}
              {
                // prettier-ignore
                post.data.lastUpdateDate && (
                <span class="post-update">
                  Last updated on {
                  post.data.lastUpdateDate?.toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}.
                </span>
              )
              }
            </div>
          );
        })
      }
      <p><a href="/blog">Click here for more posts.</a></p>
    </main>
    <main id="featured">
      <div></div>
      <h1>Featured</h1>
      <div id="featured-projects">
        <h2>Projects</h2>
        {
          featuredProjects.map((project) => {
            return (
              <a href={`/projects#${project.id}`} class="featured">
                {project.data.image != null && (
                  <Image src={project.data.image} alt={project.data.title} />
                )}
                <span>{project.data.title}</span>
              </a>
            );
          })
        }
        <p><a href="/projects">Click here for more projects.</a></p>
      </div>
      <div id="featured-blog">
        <h2>Blog Posts</h2>
        {
          featuredPosts.map((post) => {
            return (
              <a href={`/blog/${post.id}/`} class="featured">
                {post.data.image != null && (
                  <Image src={post.data.image} alt={post.data.title} />
                )}
                <span>{post.data.title}</span>
              </a>
            );
          })
        }
        <p><a href="/blog">Click here for more blog posts.</a></p>
      </div>
    </main>
    <Footer />
  </body>
</html>
