---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";

const projects = (await getCollection("projects")).sort(
  (a, b) => (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0)
);
---

<!doctype html>
<html lang="en">
  <Head />
  <style>
    main div {
      overflow: auto;
    }

    main div {
      margin-top: 2em;
    }

    main div:nth-of-type(n + 2) {
      margin-top: 3em;
    }

    main div h2 {
      margin: 0;
    }

    main div span.date-period {
      font-size: 1.17em;
      color: #555;
    }

    main div img {
      float: right;
      width: 50%;
      height: auto;
    }

    @media (max-width: 40rem) {
      main div img {
        width: 100%;
      }
    }
  </style>
  <body>
    <Header />
    <main>
      <h1>Projects</h1>
      <p>
        Although I have worked on several personal projects throughout my
        lifetime, here is what I'm comfortable showing off:
      </p>
      {
        projects.map(async (project) => {
          const { Content } = await render(project);
          return (
            <div id={project.id}>
              <h2>{project.data.title}</h2>
              {project.data.image != null && (
                <Image src={project.data.image} alt={project.data.title} />
              )}
              <span class="date-period">{project.data.datePeriod}</span>
              <p>
                <Content />
              </p>
            </div>
          );
        })
      }
    </main>
    <Footer />
  </body>
</html>
